In [1]:
import os
import geopandas as gpd

import extracting_points_from_polygons as pp

The following warning comes up with pp.sample_naip_from_polys, we'll catch it to ease the reading of notebook

`/srv/conda/envs/notebook/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)`

In [3]:
# root for all polygons collected on naip scenes
root = os.path.join(os.getcwd(),'aux_data','polygons_from_naip_images')

### Extract points from dangermond_non_iceplant.shp

In [4]:
itemid = 'ca_m_3412037_nw_10_060_20180913_20190208'
file = 'dangermond_non_iceplant/dangermond_non_iceplant.shp'

#polys = gpd.read_file(os.path.join(root,file))
#dgm_non_iceplant = pp.naip_sample_no_warnings(polys,itemid)
#dgm_non_iceplant

,geometry,x,y,iceplant,r,g,b,nir,year,month,day
0,POINT (734143.3985376429 3814758.372008546),734143.398538,3.814758e+06,0,55,66,50,139,2018,9,13
1,POINT (734143.5315310115 3814754.013799639),734143.531531,3.814754e+06,0,63,74,55,138,2018,9,13
2,POINT (734145.0303565547 3814753.1165217874),734145.030357,3.814753e+06,0,85,87,67,147,2018,9,13
3,POINT (734142.3897949388 3814756.39398402),734142.389795,3.814756e+06,0,57,65,52,130,2018,9,13
4,POINT (734139.6247600754 3814755.530236845),734139.624760,3.814756e+06,0,64,71,55,119,2018,9,13
...,...,...,...,...,...,...,...,...,...,...,...
566,POINT (732520.632084398 3814935.3195649176),732520.632084,3.814935e+06,0,190,187,179,189,2018,9,13
567,POINT (732505.2959631897 3814940.8662517993),732505.295963,3.814941e+06,0,193,188,180,190,2018,9,13
568,POINT (732506.7858267158 3814932.6772976127),732506.785827,3.814933e+06,0,167,156,143,150,2018,9,13
569,POINT (732518.616416628 3814936.7965736147),732518.616417,3.814937e+06,0,192,188,181,189,2018,9,13
570,POINT (732509.3644212047 3814935.8017317406),732509.364421,3.814936e+06,0,192,186,178,190,2018,9,13

In [5]:
#dgm_non_iceplant.to_csv(os.path.join(os.getcwd(),'aux_data','dangermond_non_iceplant.csv'))

### Extract points from campuspoint2018polys3.shp

In [4]:
itemid = 'ca_m_3411934_sw_11_060_20180722_20190209'
file = 'campuspoint2018polys/campuspoint2018polys.shp'
#polys = gpd.read_file(os.path.join(root,file))

#campus = pp.naip_sample_no_warnings(polys,itemid)
#campus

,geometry,x,y,iceplant,r,g,b,nir,year,month,day
0,POINT (238343.42981319653 3810848.805207873),238343.429813,3.810849e+06,1,93,88,93,141,2018,7,22
1,POINT (238343.54673072175 3810846.093093588),238343.546731,3.810846e+06,1,85,85,89,137,2018,7,22
2,POINT (238344.86438268574 3810845.534717399),238344.864383,3.810846e+06,1,89,85,91,133,2018,7,22
3,POINT (238342.5430043139 3810847.57428281),238342.543004,3.810848e+06,1,92,87,95,134,2018,7,22
4,POINT (238345.24006490404 3810849.145357247),238345.240065,3.810849e+06,1,86,81,88,137,2018,7,22
...,...,...,...,...,...,...,...,...,...,...,...
326,POINT (239557.42343425404 3812086.1513641356),239557.423434,3.812086e+06,0,54,69,71,100,2018,7,22
327,POINT (239568.07540584923 3812106.3295439086),239568.075406,3.812106e+06,0,78,100,82,168,2018,7,22
328,POINT (239571.13427138602 3812100.2575197807),239571.134271,3.812100e+06,0,78,78,86,88,2018,7,22
329,POINT (239550.85198595884 3812087.3235837673),239550.851986,3.812087e+06,0,68,75,79,98,2018,7,22
330,POINT (239557.11801803412 3812098.148459577),239557.118018,3.812098e+06,0,63,81,72,155,2018,7,22

### Extract points from trees.shp

In [5]:
itemid = 'ca_m_3411934_sw_11_060_20180722_20190209'
file ='trees/trees.shp' 
#polys = gpd.read_file(os.path.join(root,file))
#polys['iceplant']=0

#trees = pp.naip_sample_no_warnings(polys,itemid,0.2)
#trees

,geometry,x,y,iceplant,r,g,b,nir,year,month,day
0,POINT (238100.0461949407 3811295.4545030612),238100.046195,3.811295e+06,0,110,102,98,166,2018,7,22
1,POINT (238099.87094423154 3811288.1446151566),238099.870944,3.811288e+06,0,134,121,113,163,2018,7,22
2,POINT (238113.53434855543 3811286.7630826873),238113.534349,3.811287e+06,0,64,68,76,147,2018,7,22
3,POINT (238108.03470101196 3811300.2439471227),238108.034701,3.811300e+06,0,67,65,78,135,2018,7,22
4,POINT (238099.06344234096 3811298.787311951),238099.063442,3.811299e+06,0,136,120,116,158,2018,7,22
...,...,...,...,...,...,...,...,...,...,...,...
323,POINT (238148.35831410822 3811248.0160116223),238148.358314,3.811248e+06,0,71,68,80,135,2018,7,22
324,POINT (238142.28945772946 3811246.802124421),238142.289458,3.811247e+06,0,76,73,86,130,2018,7,22
325,POINT (238154.0838923648 3811245.367153641),238154.083892,3.811245e+06,0,43,50,68,49,2018,7,22
326,POINT (238145.19584885216 3811247.798209541),238145.195849,3.811248e+06,0,53,58,72,111,2018,7,22
327,POINT (238148.10782605963 3811250.0431498974),238148.107826,3.811250e+06,0,57,57,74,120,2018,7,22

In [6]:
itemid = 'ca_m_3411934_sw_11_060_20180722_20190209'
file ='non_iceplant_vegetation/non_iceplant_vegetation.shp' 
#polys = gpd.read_file(os.path.join(root,file))
#polys['iceplant']=0

#non_iceplant_veg = pp.naip_sample_no_warnings(polys,itemid,0.01)
#non_iceplant_veg

,geometry,x,y,iceplant,r,g,b,nir,year,month,day
0,POINT (238372.99795456987 3810869.146629964),238372.997955,3.810869e+06,0,67,82,83,116,2018,7,22
1,POINT (238375.4415372636 3810863.5115073),238375.441537,3.810864e+06,0,80,94,93,125,2018,7,22
2,POINT (238374.4791769263 3810872.2965045315),238374.479177,3.810872e+06,0,68,86,87,138,2018,7,22
3,POINT (238383.2849401115 3810870.9718581974),238383.284940,3.810871e+06,0,61,84,81,126,2018,7,22
4,POINT (238370.03170644466 3810871.49069176),238370.031706,3.810871e+06,0,90,100,100,123,2018,7,22
...,...,...,...,...,...,...,...,...,...,...,...
411,POINT (236895.65533167333 3814128.5603998196),236895.655332,3.814129e+06,0,63,71,73,159,2018,7,22
412,POINT (236869.49564062897 3814085.503303494),236869.495641,3.814086e+06,0,180,167,141,174,2018,7,22
413,POINT (236979.22722395905 3814150.761573995),236979.227224,3.814151e+06,0,56,64,69,122,2018,7,22
414,POINT (236866.44385848616 3814077.3829686027),236866.443858,3.814077e+06,0,103,110,118,73,2018,7,22
415,POINT (236939.7666955032 3814113.4225530275),236939.766696,3.814113e+06,0,47,58,66,130,2018,7,22

In [7]:
# MAYBE SAVE AS csv AND shp
#geo_train_set = gpd.GeoDataFrame(train_set, crs=polys.crs)
#geo_train_set

In [8]:
itemid = 'ca_m_3412037_nw_10_060_20180913_20190208'
file = 'dangermond_iceplant/dangermond_iceplant.shp'
polys = gpd.read_file(os.path.join(root,file))

dangerm = pp.naip_sample_no_warnings(polys,itemid)
dangerm

,geometry,x,y,iceplant,r,g,b,nir,year,month,day
0,POINT (732356.0397647488 3814872.9280710868),732356.039765,3.814873e+06,1,99,91,73,176,2018,9,13
1,POINT (732361.2711268335 3814889.1228892156),732361.271127,3.814889e+06,1,75,77,60,181,2018,9,13
2,POINT (732355.2819875157 3814869.687005241),732355.281988,3.814870e+06,1,121,105,84,171,2018,9,13
3,POINT (732358.2236585843 3814882.9174707006),732358.223659,3.814883e+06,1,78,81,60,182,2018,9,13
4,POINT (732368.8203320162 3814881.7235629517),732368.820332,3.814882e+06,1,96,83,69,180,2018,9,13
...,...,...,...,...,...,...,...,...,...,...,...
244,POINT (732362.2140649512 3815211.3058780273),732362.214065,3.815211e+06,1,79,80,59,166,2018,9,13
245,POINT (732355.6172128726 3815227.519683359),732355.617213,3.815228e+06,1,79,83,62,165,2018,9,13
246,POINT (732356.2267226228 3815228.0730605363),732356.226723,3.815228e+06,1,81,86,62,166,2018,9,13
247,POINT (732347.2665214175 3815228.78816229),732347.266521,3.815229e+06,1,76,80,60,178,2018,9,13
248,POINT (732363.1682228193 3815205.15133476),732363.168223,3.815205e+06,1,88,87,64,172,2018,9,13

In [9]:
# import pandas as pd
# all_samples = pd.concat([campus,trees,non_iceplant_veg,dangerm])
# all_samples

,geometry,x,y,iceplant,r,g,b,nir,year,month,day
0,POINT (238343.42981319653 3810848.805207873),238343.429813,3.810849e+06,1,93,88,93,141,2018,7,22
1,POINT (238343.54673072175 3810846.093093588),238343.546731,3.810846e+06,1,85,85,89,137,2018,7,22
2,POINT (238344.86438268574 3810845.534717399),238344.864383,3.810846e+06,1,89,85,91,133,2018,7,22
3,POINT (238342.5430043139 3810847.57428281),238342.543004,3.810848e+06,1,92,87,95,134,2018,7,22
4,POINT (238345.24006490404 3810849.145357247),238345.240065,3.810849e+06,1,86,81,88,137,2018,7,22
...,...,...,...,...,...,...,...,...,...,...,...
244,POINT (732362.2140649512 3815211.3058780273),732362.214065,3.815211e+06,1,79,80,59,166,2018,9,13
245,POINT (732355.6172128726 3815227.519683359),732355.617213,3.815228e+06,1,79,83,62,165,2018,9,13
246,POINT (732356.2267226228 3815228.0730605363),732356.226723,3.815228e+06,1,81,86,62,166,2018,9,13
247,POINT (732347.2665214175 3815228.78816229),732347.266521,3.815229e+06,1,76,80,60,178,2018,9,13
248,POINT (732363.1682228193 3815205.15133476),732363.168223,3.815205e+06,1,88,87,64,172,2018,9,13

In [10]:
# def iceplant_counts(df):
#     return df.filter(items=['iceplant']).groupby(['iceplant']).size().reset_index(name='count')

# iceplant_counts(all_samples)

   iceplant  count
0         0   8784
1         1   5567

In [12]:
# all_samples.to_csv(os.path.join(os.getcwd(),'aux_data','dangermond_and_campuspoint.csv'))