In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import sample_rasters as sr

In [6]:
aois = ['campus_lagoon','carpinteria','capitan','gaviota']
years = [2020]

In [7]:
aoi_col = []
year_col = []
n_iceplant = []
n_polygons = []
area_ice = []
total_area = []

for aoi in aois:
    for year in years:
        if ('point_conception' != aoi) or (year != 2016):  #there's no data for Point Conception on 2016
            aoi_col.append(aoi)
            year_col.append(year)

            fp = os.path.join(os.getcwd(),
                              'FINAL_iceplant_polygons',
                              aoi+'_FINAL_iceplant_polygons',
                              aoi+'_FINAL_iceplant_polygons'+'.shp')

            df = gpd.read_file(fp)

            n_polygons.append(len(df))
            
            
            itemid = df.aoi[0]
            crs = sr.get_crs_from_itemid(itemid)
            df.to_crs(crs, inplace=True)
            df['area'] = [poly.area for poly in df.geometry] # in m^2

            area_ice.append(sum(df.loc[df['iceplant']==1].area))
            total_area.append(sum(df.area))

In [8]:
D = { 
    'aoi': aoi_col, 
    'n_polys' : n_polygons,
    'ice_area_m2' : area_ice
    }
df_all_polys = pd.DataFrame(D)
df_all_polys

             aoi  n_polys   ice_area_m2
0  campus_lagoon      102  15114.882469
1    carpinteria      129  16770.546530
2        capitan       36   7783.302426
3        gaviota       28   2043.185018

In [10]:
sum(df_all_polys.n_polys)

295

In [11]:
sum(df_all_polys.ice_area_m2)/10**6

0.041711916443526814