In [1]:
import os
import pandas as pd

In [8]:
fp = os.path.join(os.getcwd(),'aux_data','trainset_non_iceplant_vegetation.csv')
df = pd.read_csv(fp)
df.shape

(193345, 9)

In [6]:
def separate_ndvi(df, thresh=0.2):    
    df['ndvi']=(df.nifr.astype('int16') - df.r.astype('int16'))/(df.nifr.astype('int16') + df.r.astype('int16'))
    veg = df[df.ndvi>thresh]
    veg.drop(labels=['ndvi'],axis=1, inplace=True)
    
    non_veg = df[df.ndvi<=thresh]
    non_veg.drop(labels=['ndvi'],axis=1, inplace=True)
    return veg, non_veg

veg, non_veg = separate_ndvi(df)

/tmp/ipykernel_440/1171460632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg.drop(labels=['ndvi'],axis=1, inplace=True)
/tmp/ipykernel_440/1171460632.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_veg.drop(labels=['ndvi'],axis=1, inplace=True)

In [13]:
print(veg.shape)
print(non_veg.shape)

(112152, 9)
(81193, 9)

In [16]:
fp = os.path.join(os.getcwd(),'aux_data','trainset_BIG.csv')
df2 = pd.read_csv(fp)
df2.shape

(4789, 9)

In [17]:
veg2, non_veg2 = separate_ndvi(df2)
print(veg2.shape)
print(non_veg2.shape)

(3496, 9)
(1293, 9)

/tmp/ipykernel_440/1171460632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veg.drop(labels=['ndvi'],axis=1, inplace=True)
/tmp/ipykernel_440/1171460632.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_veg.drop(labels=['ndvi'],axis=1, inplace=True)

In [25]:
non_veg2[non_veg2['iceplant']==0]

,Unnamed: 0,geometry,x,y,r,g,b,nifr,iceplant
514,514,POINT (238634.8400041996 3811115.196324375),238634.840004,3.811115e+06,152,150,131,186,0
516,516,POINT (238621.46901805964 3811122.8319731327),238621.469018,3.811123e+06,148,151,120,199,0
517,517,POINT (238628.22799385208 3811120.2533952994),238628.227994,3.811120e+06,140,145,115,200,0
521,521,POINT (238618.5247261528 3811134.7752551935),238618.524726,3.811135e+06,120,118,115,159,0
522,522,POINT (238620.0870604761 3811117.7530296734),238620.087060,3.811118e+06,175,165,139,195,0
...,...,...,...,...,...,...,...,...,...
4200,4200,POINT (238476.47667896186 3810885.3056512456),238476.476679,3.810885e+06,38,51,68,52,0
4203,4203,POINT (238473.4132504686 3810880.2946738116),238473.413250,3.810880e+06,28,39,62,24,0
4208,4208,POINT (238484.4827878885 3810893.0561570297),238484.482788,3.810893e+06,30,40,60,29,0
4211,4211,POINT (238487.4304599261 3810894.980429139),238487.430460,3.810895e+06,36,52,66,53,0
4216,4216,POINT (238474.88776929292 3810881.554253727),238474.887769,3.810882e+06,30,39,61,21,0

In [23]:
95-1293

-1198