In [1]:
import os
import geopandas as gpd

import extracting_points_from_polygons as pp

In [2]:
def iceplant_counts(df):
    return df.filter(items=['iceplant']).groupby(['iceplant']).size().reset_index(name='count')


def aoi_to_samples(root,aoi,year):
    # root for all polygons collected on naip scenes
    fp = os.path.join(root, 
                      aoi+'_polygons', 
                      aoi+'_polygons_'+str(year), 
                      aoi+'_polygons_'+str(year)+'.shp')
    polys = gpd.read_file(fp)
    itemid = polys['naip_id'][0]
    points = pp.naip_sample_no_warnings(polys,itemid)
    return points

root = os.path.join(os.getcwd(),'polygons_from_naip_images')
aoi = 'campus_lagoon'

In [3]:
pts12 = aoi_to_samples(root, aoi, 2012)
iceplant_counts(pts12)

   iceplant  count
0         0   3508
1         1    887

In [4]:
pts14 = aoi_to_samples(root, aoi, 2014)
iceplant_counts(pts14)

   iceplant  count
0         0   3771
1         1    531

In [5]:
pts18 = aoi_to_samples(root, aoi, 2018)
iceplant_counts(pts18)

   iceplant   count
0         0  100632
1         1    1609

In [6]:
pts20 = aoi_to_samples(root, aoi, 2020)
iceplant_counts(pts20)

   iceplant  count
0         0  82505
1         1   1943

In [11]:
points.to_csv(os.path.join(os.getcwd(),'aux_data','naip_point_samples',itemid+'_points.csv'))

In [12]:
itemid = 'ca_m_3411934_sw_11_060_20200521'
points = itemid_to_samples(itemid)
iceplant_counts(points)

   iceplant  count
0         0  82505
1         1   1943

In [13]:
points.to_csv(os.path.join(os.getcwd(),'aux_data','naip_point_samples',itemid+'_points.csv'))

In [ ]:
# itemid = 'ca_m_3412037_nw_10_1_20140603_20141030'
# points = itemid_to_samples(itemid)
# iceplant_counts(points)