In [1]:
import os
import geopandas as gpd

import extracting_points_from_polygons as pp

In [7]:
def iceplant_counts(df):
    return df.filter(items=['iceplant']).groupby(['iceplant']).size().reset_index(name='count')


def itemid_to_samples(itemid):
    # root for all polygons collected on naip scenes
    root = os.path.join(os.getcwd(),'aux_data','polygons_from_naip_images')

    file = itemid +'_polygons/'+itemid+'_polygons.shp'
    polys = gpd.read_file(os.path.join(root,file))
    points = pp.naip_sample_no_warnings(polys,itemid)
    return points

In [8]:
itemid = 'ca_m_3412037_nw_10_060_20200607'
points = itemid_to_samples(itemid)

In [10]:
iceplant_counts(points)

   iceplant  count
0         0  33307
1         1  14084

In [11]:
points.to_csv(os.path.join(os.getcwd(),'aux_data','naip_point_samples',itemid+'_points.csv'))

In [12]:
itemid = 'ca_m_3411934_sw_11_060_20200521'
points = itemid_to_samples(itemid)
iceplant_counts(points)

   iceplant  count
0         0  82505
1         1   1943

In [13]:
points.to_csv(os.path.join(os.getcwd(),'aux_data','naip_point_samples',itemid+'_points.csv'))

In [ ]:
# itemid = 'ca_m_3412037_nw_10_1_20140603_20141030'
# points = itemid_to_samples(itemid)
# iceplant_counts(points)