In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
def path_points_csv(aoi,year):
    # root for all polygons collected on naip scenes
    root = '/home/jovyan/msai4earth-esa/iceplant_detection/data_sampling/points_from_naip_images'
    fp = os.path.join(root, 
                      aoi+'_points', 
                      aoi+'_points_'+str(year)+'.csv')
    return fp

In [3]:
import calendar

def day_in_year(day,month,year):
    days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
    n = 0
    for i in range(0,month-1):
        n = n+days_in_month[i]
    n = n+day
    if calendar.isleap(year) and month>2:
        n = n+1
    return n

In [4]:
years = [2012,2014,2018,2020]

# initialize dataframe
aoi = 'campus_lagoon'
df = pd.read_csv(path_points_csv(aoi,2012))
df['day_in_year'] = day_in_year(df.day[0], df.month[0], df.year[0])

# add other campus lagoon sample pts
for i in range(1,4):
    df2 = pd.read_csv(path_points_csv(aoi,years[i]))
    df2['day_in_year'] = day_in_year(df2.day[0],df2.month[0], df2.year[0])
    df = pd.concat([df,df2])

# add point conception sample pts
aoi = 'point_conception'
for i in range(0,4):
    df2 = pd.read_csv(path_points_csv(aoi,years[i]))
    df2['day_in_year'] = day_in_year(df2.day[0],df2.month[0], df2.year[0])
    df = pd.concat([df,df2])

In [5]:
df.reset_index(drop=True,inplace=True)

In [6]:
#checking all data was loaded
df.naip_id.value_counts()

ca_m_3412037_nw_10_060_20200607             75414
ca_m_3411934_sw_11_060_20180722_20190209    69391
ca_m_3412037_nw_10_1_20140603_20141030      61529
ca_m_3412037_nw_10_1_20120518_20120730      37126
ca_m_3412037_nw_10_060_20180913_20190208    33381
ca_m_3411934_sw_11_060_20200521             33293
ca_m_3411934_sw_11_1_20120505_20120730      19816
ca_m_3411934_sw_11_1_20140601_20141030      14478
Name: naip_id, dtype: int64

In [7]:
df.columns

Index(['Unnamed: 0', 'geometry', 'x', 'y', 'iceplant', 'r', 'g', 'b', 'nir',
       'year', 'month', 'day', 'naip_id', 'polygon_id', 'day_in_year'],
      dtype='object')

In [8]:
df.drop(['Unnamed: 0','geometry','x','y','naip_id','polygon_id','day'],axis=1, inplace=True)
df.head(3)

   iceplant    r    g    b  nir  year  month  day_in_year
0         1  134  125  103  170  2012      5          126
1         1  130  114  101  164  2012      5          126
2         1  132  110   98  160  2012      5          126

In [9]:
df['ndvi']=(df.nir.astype('int16') - df.r.astype('int16'))/(df.nir.astype('int16') + df.r.astype('int16'))
df.head(3)

   iceplant    r    g    b  nir  year  month  day_in_year      ndvi
0         1  134  125  103  170  2012      5          126  0.118421
1         1  130  114  101  164  2012      5          126  0.115646
2         1  132  110   98  160  2012      5          126  0.095890
3         1  136  122  106  148  2012      5          126  0.042254

In [10]:
df = df[['r','g','b','nir','ndvi','year','month','day_in_year','iceplant']]
df.head(3)

     r    g    b  nir      ndvi  year  month  day_in_year  iceplant
0  134  125  103  170  0.118421  2012      5          126         1
1  130  114  101  164  0.115646  2012      5          126         1
2  132  110   98  160  0.095890  2012      5          126         1

In [12]:
df.to_csv(os.path.join(os.getcwd()),'samples_for_model.csv')

IsADirectoryError: [Errno 21] Is a directory: '/home/jovyan/msai4earth-esa/iceplant_detection/feature_selection'