In [1]:
import os
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [2]:
samples = pd.read_csv(os.path.join(os.getcwd(),'samples_for_model.csv'))

In [3]:
samples.shape

(498753, 15)

In [4]:
# aois = samples.aoi.unique()
# scenes = samples.naip_id.unique()

In [5]:
#scenes

In [6]:
# df = samples[samples.aoi == 'campus_lagoon']
# print(df.naip_id.unique())
#df = df[df.naip_id == 'ca_m_3411934_sw_11_1_20140601_20141030']

In [7]:
# y = np.array(sub['iceplant'])
# X = np.array(sub.drop('iceplant', axis = 1))
# X_train, X_test, y_train, y_test = train_test_split(X, y, 
#                                                     test_size = 0.3, 
#                                                     random_state = 42)

In [8]:
# X_labels = sub.columns.drop('iceplant')

# train = pd.DataFrame(X_train, columns = X_labels)
# train['iceplant'] = y_train

# test = pd.DataFrame(X_test, columns = X_labels)
# test['iceplant'] = y_test

In [9]:
def iceplant_proportions(labels):
    unique, counts = np.unique(labels, return_counts=True)
    print('no-iceplant:iceplant ratio    ',round(counts[0]/counts[1],1),':1')
    n = labels.shape[0]
    perc = [round(counts[0]/n*100,2), round(counts[1]/n*100,2)]
    df = pd.DataFrame({'iceplant':unique,
             'counts':counts,
             'percentage':perc}).set_index('iceplant')
    print(df)
    print()

In [10]:
all_train = []
all_test = []

X_labels = samples.columns.drop('iceplant')

aois = samples.aoi.unique()

for aoi in aois:
    in_aoi = samples[samples.aoi == aoi]    
    scenes = in_aoi.naip_id.unique()
    for scene in scenes:
        in_scene = in_aoi[in_aoi.naip_id == scene]
        
        X = np.array(in_scene.drop('iceplant', axis = 1))
        y = np.array(in_scene['iceplant'])
        X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                            test_size = 0.3, 
                                                            random_state = 42)
        train = pd.DataFrame(X_train, columns = X_labels)
        train['iceplant'] = y_train

        test = pd.DataFrame(X_test, columns = X_labels)
        test['iceplant'] = y_test
        
        all_train.append(train)
        all_test.append(test)
        
train = pd.concat(all_train, ignore_index=True)
test = pd.concat(all_test, ignore_index=True)

In [11]:
iceplant_proportions(np.array(train.iceplant))

no-iceplant:iceplant ratio     2.4 :1
          counts  percentage
iceplant
0         247696       70.95
1         101425       29.05

In [12]:
iceplant_proportions(np.array(test.iceplant))

no-iceplant:iceplant ratio     2.5 :1
          counts  percentage
iceplant
0         106302       71.04
1          43330       28.96

In [13]:
train.head(3)

,r,g,b,nir,ndvi,year,month,day_in_year,geometry,x,y,aoi,naip_id,polygon_id,iceplant
0,43,51,78,89,0.348485,2012,5,126,POINT (235774.86665080223 3811711.199119436),235774.866651,3811711.199119,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,15,0
1,65,59,84,79,0.097222,2012,5,126,POINT (238133.2205170226 3811247.6857694876),238133.220517,3811247.685769,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,29,0
2,81,86,93,132,0.239437,2012,5,126,POINT (236234.3014255809 3811420.479858158),236234.301426,3811420.479858,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,16,0

In [14]:
test.head(3)

,r,g,b,nir,ndvi,year,month,day_in_year,geometry,x,y,aoi,naip_id,polygon_id,iceplant
0,124,104,99,154,0.107914,2012,5,126,POINT (238531.52353940875 3810778.4861433045),238531.523539,3810778.486143,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,1,1
1,135,119,99,167,0.10596,2012,5,126,POINT (238550.1707933048 3810782.096102707),238550.170793,3810782.096103,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,0,1
2,96,98,100,127,0.139013,2012,5,126,POINT (238105.80866084044 3814676.1355223465),238105.808661,3814676.135522,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,23,0

In [15]:
#keep = [True]*8 + [False]*6 + [True]

In [16]:
# train = train.loc[:,keep]
# train.head(3)

In [17]:
# test = test.loc[:,keep]
# test.head(3)

In [18]:
#train.to_csv(os.path.join(os.getcwd(),'train_set.csv'), index=False)

In [19]:
#test.to_csv(os.path.join(os.getcwd(),'test_set.csv'), index=False)