In [1]:
import pandas as pd
import numpy as np

In [3]:
# read data
car = pd.read_csv('ceo-salt13_p30_2020-map-validation---CARMEN-sample-data-2023-07-28.csv')
jul = pd.read_csv('ceo-salt13_p30_2020-map-validation---JULIEN-sample-data-2023-07-28.csv')

In [2]:
def ref_class_column(s):
    ref_class = []

    for i in s.index:
        if s.loc[i] == 'non-iceplant vegetation':
            ref_class.append(0)

        elif s.loc[i] == 'iceplant':
            ref_class.append(1)

        elif s.loc[i] == 'non-vegetation':
            ref_class.append(2)
        else:
            #print(i)
            ref_class.append(100)

    return ref_class

In [12]:
# find points with different classification
disagree = car['Category?'] != jul['Category?']
print('missmatch counts: ', np.unique(disagree, return_counts=True))

# -----------------------------------
# get indices of missmatch to remove these pts from validation data
remove_index = pd.DataFrame({'disagree':disagree})[df['disagree']==True].index

# -----------------------------------
# create df with map class and reference class for kept pts
# change string classes to numbers
ref_class = ref_class_column(car.drop(remove_index)['Category?'])

# group map classes 2 and 3
map_class = car.drop(remove_index)['pl_class'].replace(3,2)

val_data = pd.DataFrame({'map_class' : map_class,
                         'ref_class' : ref_class})
val_data

missmatch counts:  (array([False,  True]), array([975,  35]))

      map_class  ref_class
0             2          2
1             0          0
2             2          0
3             0          0
4             1          1
...         ...        ...
1005          1          1
1006          2          0
1007          1          1
1008          1          1
1009          0          0

[975 rows x 2 columns]

In [13]:
print('map class: ', np.unique(val_data.map_class, return_counts=True))
print('ref class: ', np.unique(val_data.ref_class, return_counts=True))

map class:  (array([0, 1, 2]), array([288, 291, 396]))
ref class:  (array([0, 1, 2]), array([313, 263, 399]))

In [15]:
val_data.to_csv('salt13_p30_map_and_reference_classes.csv', index_label='point_id')