In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os
import geopandas as gpd

import sample_rasters as sr

In [2]:
# ***************************************************
# ************* NOTEBOOK VARIABLES ******************

aois = ['campus_lagoon','carpinteria','gaviota','point_conception']
csv_name = 'one_pt_per_training_polygon_2020.csv'
# years = array of years, can be any subset from [2012, 2014, 2016, 2018, 2020]
years = [2020]
# ***************************************************
# ***************************************************

In [3]:
# initialize sampling statistcs df
all_pts = []

# sample points
for aoi in aois:
    for year in years:
        
        if ('point_conception' != aoi) or (year != 2016):  #there's no data for Point Conception on 2016
            
            # open polygons
            fp = sr.path_to_polygons(aoi,year)
            polys = gpd.read_file(fp)
            polys = polys.assign(point = lambda poly: polys['geometry'].representative_point())
            polys = polys.drop(['geometry','month','day'],axis=1)
            polys.drop
            # -------------------------
        all_pts.append(polys)


df = pd.concat(all_pts, ignore_index=True)
df = df.rename({'id':'poly_id'}, axis=1)
df = df.assign(LON = lambda pt : df['point'].x)
df = df.assign(LAT = lambda pt : df['point'].y)


tmp_path = os.path.join(os.getcwd(),'temp')  # create temp directory if needed
if not os.path.exists(tmp_path):
    os.mkdir(tmp_path)

In [4]:
fp = os.path.join(tmp_path, csv_name)
df.to_csv(fp, index_label='PLOTID')

In [5]:
df

,poly_id,iceplant,year,naip_id,point,LON,LAT
0,0,1,2020.0,ca_m_3411934_sw_11_060_20200521,POINT (-119.84493 34.40540),-119.844927,34.405402
1,1,1,2020.0,ca_m_3411934_sw_11_060_20200521,POINT (-119.84558 34.40562),-119.845582,34.405624
2,2,1,2020.0,ca_m_3411934_sw_11_060_20200521,POINT (-119.84481 34.40575),-119.844807,34.405748
3,3,1,2020.0,ca_m_3411934_sw_11_060_20200521,POINT (-119.84424 34.40520),-119.844236,34.405196
4,4,1,2020.0,ca_m_3411934_sw_11_060_20200521,POINT (-119.84660 34.40604),-119.846603,34.406039
...,...,...,...,...,...,...,...
246,49,0,2020,ca_m_3412037_nw_10_060_20200607,POINT (-120.44864 34.48630),-120.448641,34.486303
247,50,0,2020,ca_m_3412037_nw_10_060_20200607,POINT (-120.43524 34.47939),-120.435239,34.479389
248,51,0,2020,ca_m_3412037_nw_10_060_20200607,POINT (-120.44360 34.46701),-120.443604,34.467010
249,52,1,2020,ca_m_3412037_nw_10_060_20200607,POINT (-120.46219 34.44933),-120.462191,34.449326
250,53,0,2020,ca_m_3412037_nw_10_060_20200607,POINT (-120.47716 34.49941),-120.477163,34.499414