In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

import rasterio
import geopandas as gpd

from shapely.geometry import Polygon

import iceplant_detection_functions as ipf
import model_prep_and_evals as mpe

import warnings

## Create test/train set from samples

In [2]:
samples = pd.read_csv(os.path.join(os.getcwd(),'feature_selection','samples_for_model.csv'))
samples.head(3)

,r,g,b,nir,ndvi,year,month,day_in_year,iceplant,geometry,x,y,aoi,naip_id,polygon_id
0,134,125,103,170,0.118421,2012,5,126,1,POINT (238565.79498225075 3810768.627232482),238565.794982,3.810769e+06,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,0
1,130,114,101,164,0.115646,2012,5,126,1,POINT (238553.15545424985 3810802.7926417096),238553.155454,3.810803e+06,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,0
2,132,110,98,160,0.095890,2012,5,126,1,POINT (238552.77597268307 3810773.0767946127),238552.775973,3.810773e+06,campus_lagoon,ca_m_3411934_sw_11_1_20120505_20120730,0

In [3]:
train, test = mpe.test_train_aois_scenes(samples)

In [4]:
X_train = np.array(np.array(train.loc[:,'r':'day_in_year']))

In [5]:
X_test = np.array(np.array(test.loc[:,'r':'day_in_year']))

In [6]:
y_train = np.array(train['iceplant'])

In [7]:
y_test = np.array(test['iceplant'])

In [8]:
mpe.iceplant_proportions(y_train)

no-iceplant:iceplant ratio     2.4 :1
          counts  percentage
iceplant
0         247696       70.95
1         101425       29.05

In [9]:
mpe.iceplant_proportions(y_test)

no-iceplant:iceplant ratio     2.5 :1
          counts  percentage
iceplant
0         106302       71.04
1          43330       28.96